/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: inline-block;
}

/* CONTAINER */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
    
}

.container-w-large
{
    max-width: 100%;
    margin: 0 auto;
}
/*COL settings*/
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: 100%;
}
/*MAIN*/
#app{
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.main-zoom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    flex-grow: 1;
    overflow: auto;
}

.button-main {
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 8px;
    background-color: grey;
    border-radius: 3px;
    padding: 5px;
}
/*CENTER BODY*/
.row-user {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.col-user {
    border: 1px solid black;
    max-width: calc(100% / 5);
    max-height: calc(100% / 5);
    
}
/*CARDS*/
.card-users {
    position: relative;
}

span {
    padding: 0;
}

.user-name{
    position: absolute;
}

.user-name , 
.user-icon {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 4px;
    font-size: 14px;
    left: 2px;
    bottom: 2px;
}
/*END-MAIN*/
.bottom-bar {
    background-color: #222222;
    padding: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-bar [class^='col-'] {
    border: 1px solid black;
    padding: 15px;
}
/* DEBUG */






