/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: inline;
}

/* CONTAINER */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    flex-grow: 1;
}

.container-w-large
{
    max-width: 100%;
    margin: 0 auto;
}
/*COL settings*/
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: 100%;
}
/*MAIN*/
main {
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
}

.users-screen {
    display: flex;
    flex-grow: 1;
    padding: 30px;
}
/*CENTER BODY*/
.row-user {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.col-user {
    border: 1px solid black;
    width: calc(100% / 7);
    height: calc(100% / 5);
}
/*CARDS*/
.card-users {
    position: relative;
}
.user-name , 
.user-icon {
    position: absolute;
    background-color: red;
    color: white;
    padding: 3px;
    font-size: 12px;
    position: absolute;
    left: 2px;
    bottom: 2px;
}
/*END-MAIN*/
.bottom-bar {
    background-color: aqua;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-bar [class^='col-'] {
    border: 1px solid black;
    padding: 15px;
}
/* DEBUG */






